---
http_interactions:
- request:
    method: get
    uri: https://gateway-a.watsonplatform.net/calls/data/GetNews?apikey=ea0ca979feb8d5927f7b2f683a6bbd3bd6ad05cf&count=25&end=now&outputMode=json&q.enriched.url.enrichedTitle.entities.entity=%7Ctext=Airbnb,type=company%7C&return=enriched.url.url,enriched.url.title,enriched.url.author,enriched.url.docSentiment.score&start=now-7d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Alchemyapi-Currentversion:
      - 12.67a
      X-Alchemyapi-Key:
      - ea0ca979feb8d5927f7b2f683a6bbd3bd6ad05cf
      X-Alchemyapi-Params:
      - sentiment=0&knowledgeGraph=0&detectedLanguage=unknown
      X-Alchemyapi-Status:
      - OK
      X-Alchemyapi-Total-Transactions:
      - '436'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n    \"status\": \"OK\",\r\n    \"usage\": \"By accessing AlchemyAPI
        or using information generated by AlchemyAPI, you are agreeing to be bound
        by the AlchemyAPI Terms of Use: http://www.alchemyapi.com/company/terms.html\",\r\n
        \   \"totalTransactions\": \"436\",\n    \"result\": {\n        \"docs\":
        [\n            {\n                \"id\": \"MTExMzgwMzMwNjR8MTQ3NTY4MjQyMQ\",\n
        \               \"source\": {\n                    \"enriched\": {\n                        \"url\":
        {\n                            \"author\": \"e-NewsWire\",\n                            \"docSentiment\":
        {\n                                \"score\": 0.439642996\n                            },\n
        \                           \"title\": \"Qantas in landmark deal with Airbnb
        : TTR Weekly\",\n                            \"url\": \"http://www.ttrweekly.com/site/2016/10/qantas-in-landmark-deal-with-airbnb/\"\n
        \                       }\n                    }\n                },\n                \"timestamp\":
        1475682421\n            },\n            {\n                \"id\": \"MTEwODQ1OTIxNTd8MTQ3NTY3OTE5MQ\",\n
        \               \"source\": {\n                    \"enriched\": {\n                        \"url\":
        {\n                            \"author\": \"Gideon Spanier\",\n                            \"docSentiment\":
        {\n                                \"score\": 0.635923982\n                            },\n
        \                           \"title\": \"Audi and A[...]
