<h1 class="center heading">Welcome to jobMate</h1>

<div class="row landing-main">
  <div class="col-sm-5 main-page-col">
    <h4>Are you currently looking for new employement?</h4>
    <h4>Are you going to be soon?</h4>
    <h4> Do you have trouble keeping track of the jobs your interested in and important deadlines?</h4>
  </div>

</div>

<div class="row companies-lower">
  <div class="col-sm-11">
    <h3 class="heading">jobMate is your ideal job search tool to keep you organized.</h3>
    <ul>
      <li><h4>Store postings, contacts, resumes and cover letters.</h4></li>
      <li><h4>Setup reminders and get assitance prioritizing.</h4></li>
      <li><h4>All this and more.</h4></li>
    </ul>
    <h3 class="heading"> Sign up today and get hired!</h3>
  </div>
</div>

<div class="row quote">
  <div class="col-sm-8">
    <h5><%=@quotes.first.content%></h5>
    <h5 class="text-center">- <em><%=@quotes.first.author%></em></h5>
  </div>
</div>
