<div class="row">
  <div class="col-sm-12 well">
    <h2>Your job prospects:</h2>
    <ul>
      <% @jobs.each do |job| %>
        <li><%= link_to job.title, company_job_path(job.company, job)%></li>
      <%end%>
    </ul>
  </div>
</div>
