<div class="row">
  <div class="col-sm-12 well">
    <h2>Your Contacts</h2>
    <div class="contacts">
      <%= render 'contact' %>
    </div>
    <div class="center">
      <%= link_to "Add a contact", new_contact_path, :class => "btn btn-success" %>
    </div>
  </div>
</div>
