<p>Title: <%= link_to doc['source']['enriched']['url']['title'], doc['source']['enriched']['url']['url'], target: "_blank" %></p>
<p>Author: <%= doc['source']['enriched']['url']['author'] %></p>
<p>Sentiment Score: <%= doc ['source']['enriched']['url']['enrichedTitle']['docSentiment']['score'] %></p>
