<p>Title: <%= link_to doc['source']['enriched']['url']['title'], doc['source']['enriched']['url']['url'] %></p>
<p>Author: <%= doc['source']['enriched']['url']['author'] %></p>
<p>Sentiment Score: <%= doc['source']['enriched']['url']['docSentiment']['score'] %></p>
