<div class="row">
  <div class="col-sm-12 well">
    <% if user_signed_in? %>
      <h2>Your Companies</h2>
    <%else%>
      <h2>Users are now tracking positions at companies like:</h2>
    <%end%>
    <% @companies.each do |company| %>
      <li><%= link_to company.name, company_path(company)%></li>
    <%end%>
  </div>
</div>
<% if user_signed_in? %>
  <%= link_to "New Company", new_company_path, :class => "btn btn-success"%>
<% end %>
