// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color: #B9D989;
  border-color: #687D4A;
}
.center {
  text-align: center;
}

body {
  background-color: #919EB8;
  .alert {
    margin: 10px;
  }
  .container {
    display: flex;
    flex-direction: column;
    .landing-main {
      margin-top: 15px;
    }
    .landing-image {
      background-color: white;
      border-radius: 10px;
    }
    .quote {
      margin-top: 40px;
      display: flex;
      justify-content: center;
    }
    .user-main {
      display: flex;
      justify-content: space-between;
      .main-page-col {
      }
    }
    .user-lower {
      display: flex;
      justify-content: space-between;
      margin: 0 5px;
    }
    .job-list {
      border-bottom: 2px black solid;
      border-left: 1px black solid;
      border-right: 1px black solid;
    }
    .job-list#heading {
      border-bottom: 2px solid black;
      border-left: none;
      border-right: none;
        a:hover {
          text-decoration: none;
        }
        .ASC:after {
          margin-left: 3px;
          content:"\e113";
          font-family:"Glyphicons Halflings";
        }

        .DESC:after {
          margin-left: 3px;
          content:"\e114";
          font-family:"Glyphicons Halflings";
        }
      }
    .job-list-title {
      text-align: center;
      h4 {
        color: black;
      }
    }
    .job-title {
      color: blue;
    }
    .job-attachment-heading {
      border-bottom: 2px solid black;
    }
    .contact-avatar {
      width: 100px;
    }
    .company-list#heading {
      border-bottom: 2px solid black;
    }
  }
}
