// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// Asset variables
//################################
$body-font: 'Andada', serif;
$heading-font: 'Bitter', serif;
$background-image: url('../images/background-1430103.png');
$text-color: #BBDDDE;
$nav-and-btn-color: #569614;
$small-border: 1px black solid;
$large-border: 2px black solid;

//################################

a {
  color: #FFBA80;
}

textarea, input {
  color: black;
}

.devise-form {
  margin-left: 33%;
  padding: 10px;
}

.right {
  text-align: right;
}

input#user_password {
  width: 171px;
}
select#company_category {
  max-width: 171px;
}
.job-scan {
  display: none;
  margin-bottom: 2em;
}

#event_contact_select, #event_job_select {
  display: none;
}

.navbar {
  background-color: $nav-and-btn-color;
  border: none;
  border-radius: none;
}
.center {
  text-align: center;
}
.btn-devise {
  margin: 10px 0;
}
.navbar-default .navbar-nav > li > a {
  color: $text-color;
}
a.navbar-brand {
  color: #000036 !important;
}
body {
  background: $background-image no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: $body-font;
  color: $text-color;
  .btn-success {
    background-color: #7DC0C0;
    border: none;
  }
  .heading {
    color:  $text-color;
    font-family: $heading-font;
  }
  .landing-heading {
    color: #2c3e50;
    font-family: $heading-font;
  }
  .alert {
    margin: 10px;
  }
  .container {
    display: flex;
    flex-direction: column;
    .landing-main {
      margin-top: 15px;
    }
    .well {
      background-color: rgba(40, 103, 4, 0.5);
    }
    .quote {
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      color: $text-color;
      border-radius: 4px;
    }
    .user-main {
      display: flex;
      justify-content: space-between;
      .main-page-col {
      }
    }
    .user-lower {
      display: flex;
      justify-content: space-between;
      margin: 0 5px;
    }

    #watson {
      width: 150px;
      height: 150px;
    }
    .job-list, .event-list {
      background-color: white;
      border-bottom: $large-border;
      border-left: $small-border;
      border-right: $small-border;
    }
    .event-list {
      background-color: rgba(121, 108, 37, 0.75);
      border-bottom: $large-border;
      border-left: $small-border;
      border-right: $small-border;
    }

    .event-titles {
      color: white !important;
    }

    .job-list#heading {
      font-family: $heading-font;
      border-bottom: 2px solid black;
      border-left: none;
      border-right: none;
        a:hover {
          text-decoration: none;
        }
        .ASC:after {
          margin-left: 3px;
          content:"\e113";
          font-family:"Glyphicons Halflings";
        }

        .DESC:after {
          margin-left: 3px;
          content:"\e114";
          font-family:"Glyphicons Halflings";
        }
      }
    .job-list-title {
      text-align: center;
      h3 a {
        color: #617487;
      }
      h4 {
        color: #BFEDC9;
      }
      h4 a {
        color: #617487;
      }
      .jobs_listing {
        color: #2c3e50;
      }
    }
    .job-title {
      color: #FFB363;
    }
    a.job-titles {
      color: #008000 !important;
      font-weight: bold;
    }
    #compare {
      margin-top: 10px;
    }
    #hide-compare {
      margin-top: 10px;
      display: none;
    }
    #analyze {
      margin-top: 10px;
    }
    .job-scan {
      padding-left: 12%;
      .scanner {
        background-color: green;
      }
    }
    a.company-names {
      color: #FFBA80 !important;
    }
    .job-attachment-heading {
      border-bottom: 2px solid black;
    }
    #linked-icon {
      width: 75px;
      height: 75px;
    }

    .contact-avatar {
      width: 100px;
    }
    @media only screen and (min-width: 768px) {
      .small-screen-heading {
        display: none;
      }
    }
    @media only screen and (max-width: 768px) {
      .job-list-title h3 {
        display: none;
      }
    }
    .company-list#heading {
      font-family: $heading-font;
      border-bottom: 2px solid black;
    }
    #social-buttons {
      margin-left: 25px;
      margin-right: 5px;
    }
    .news-tile {
      background-color: rgba(121, 108, 37, 0.75);
    }
    #select-margin {
      margin: 0 30%;
    }
  }
}
.alert-high {
  background-color: #FF8C80 !important;
}
.alert-medium {
  background-color: #FFD280 !important;
}
