---
http_interactions:
- request:
    method: get
    uri: https://gateway-a.watsonplatform.net/calls/data/GetNews?apikey=ea0ca979feb8d5927f7b2f683a6bbd3bd6ad05cf&count=25&end=now&outputMode=json&q.enriched.url.enrichedTitle.entities.entity=%7Ctext=Airbnb,type=company%7C&return=enriched.url.url,enriched.url.title,enriched.url.author,enriched.url.docSentiment.score&start=now-7d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Alchemyapi-Currentversion:
      - 12.67a
      X-Alchemyapi-Error-Msg:
      - daily-transaction-limit-exceeded
      X-Alchemyapi-Key:
      - ea0ca979feb8d5927f7b2f683a6bbd3bd6ad05cf
      X-Alchemyapi-Params:
      - sentiment=0&knowledgeGraph=0&detectedLanguage=unknown&submitLanguage=detect
      X-Alchemyapi-Status:
      - ERROR
      X-Alchemyapi-Total-Transactions:
      - '0'
    body:
      encoding: UTF-8
      string: "{\r\n    \"status\": \"ERROR\",\r\n    \"statusInfo\": \"daily-transaction-limit-exceeded\"\r\n}\r\n"
  recorded_at: Wed, 05 Oct 2016 17:56:55 GMT
- request:
    method: get
    uri: https://gateway-a.watsonplatform.net/calls/data/GetNews?apikey=ea0ca979feb8d5927f7b2f683a6bbd3bd6ad05cf&count=25&end=now&outputMode=json&q.enriched.url.enrichedTitle.entities.entity=%7Ctext=New%20Relic,type=company%7C&return=enriched.url.url,enriched.url.title,enriched.url.author,enriched.url.docSentiment.score&start=now-7d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Alchemyapi-Currentversion:
      - 12.67a
      X-Alchemyapi-Key:
      - ea0ca979feb8d5927f7b2f683a6bbd3bd6ad05cf
      X-Alchemyapi-Params:
      - sentiment=0&knowledgeGraph=0&detectedLanguage=unknown
      X-Alchemyapi-Status:
      - OK
      X-Alchemyapi-Total-Transactions:
      - '376'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n    \"status\": \"OK\",\r\n    \"usage\": \"By accessing AlchemyAPI
        or using information generated by AlchemyAPI, you are agreeing to be bound
        by the AlchemyAPI Terms of Use: http://www.alchemyapi.com/company/terms.html\",\r\n
        \   \"totalTransactions\": \"376\",\n    \"result\": {\n        \"docs\":
        [\n            {\n                \"id\": \"MTA3Mzk0MTY4NDZ8MTQ3NTY1MzkwMA\",\n
        \               \"source\": {\n                    \"enriched\": {\n                        \"url\":
        {\n                            \"author\": \"Authors\",\n                            \"docSentiment\":
        {\n                                \"score\": 0.509703994\n                            },\n
        \                           \"title\": \"New Relic Helps Leading Retailers
        Prepare for and Thrive During Their \\\"Black Friday\\\" | news.sys-con.com\",\n
        \                           \"url\": \"http://news.sys-con.com/node/3925389\"\n
        \                       }\n                    }\n                },\n                \"timestamp\":
        1475653900\n            },\n            {\n                \"id\": \"OTk3NTQxMzg3N3wxNDc1NTkyNDEw\",\n
        \               \"source\": {\n                    \"enriched\": {\n                        \"url\":
        {\n                            \"author\": \"\",\n                            \"docSentiment\":
        {\n                                \"score\": 0.670449972\n                            },\n
        \                           \"title\": \"New Relic Helps Leading Re[...]
